<!DOCTYPE html>
<html lang="en">
<%- include ('head')%>

<body class="bg-dark">  
    <%- include ('navbar') -%>
    <a class="btn bg-success text-white m-2" href="/gets/all-posts">Volver al listado</a>
    
    <div class="row ">
        <div class="col m-4 text-center text-white">
            <h1>¡Escribe tu post!</h1>
        </div>
    </div>

    <div class="row justify-content-md-center m-2">
        <div class="col-md-8  ">
            <form action="/actions/new-post" method="post">
        
                <div class="col">
                    
                    <input class="form-control mb-3" type="text" name="titulo_del_post" placeholder="Titulo" id="exampleFormControlInput1" aria-label="default input example" >
                    
                    <div class="mb-3">
                      
                      <textarea class="form-control" name="contenido" id="exampleFormControlTextarea1" placeholder="Contenido" rows="3"></textarea>

                    </div>

                    
                    <input type="url" name="url" class="form-control mb-3" id="exampleFormControlInput2" placeholder="Url de la imagen" >
                    
                </div>                  
                <div class="row justify-content-evenly">

                    
                    <button class="btn btn-danger col-md-auto m-2 ">Subir post</button>
        
                </div>
                
            </form>
        </div>
    </div>

    <%- include ('footer') -%>
    
    <script type="module" src="../../static/js/bootstraps.min.js"></script>
</body>

</html>