<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/bootstraps.min.css">
    <title>Prueba</title>
</head>

<body>  
    <%- include ('navbar') -%>
    <a href="/gets/pag_post">botoncito</a>
    <%- include('main')-%>

    <%- include ('footer') -%>
    
    <scrip src="../../static/js/bootstraps.min.js"></script>
</body>

</html>